/* RESET */

	/* APENAS NO DESKTOP */
	.desktopOnly{
		display: none;
	}
	@media only screen and (min-width: 480px){
		.desktopOnly{
			display: block;
		}
	}



/* MENU - NAVBAR DO BOOTSTRAP */
/* Logo à direita sem margem extra */
.navbar-brand{
	margin-right: 0;
}
.navbar-light .navbar-toggler {
	color: rgba(0,0,0,1);
	border-color: rgba(0,0,0,0);
	padding: 0;
}
.navbar-toggler-icon{ 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#000000' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
/* CARROSSEL DE IMAGENS - CLASSES DO BOOTSTRAP */
.carousel{
	margin: auto -15px;
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev{
	width: 33%;
}

/* TÍTULO */
h1.tituloProduto{
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 32pt;
	margin-top: 10px;
}

h1.tituloProduto span.prefix{
	font-size: 18pt;
}

h1.tituloProduto span.sufix{
	font-weight: lighter;
	font-size: 18pt;
}

/* Texto inicial */
h2.apresentacao{
	font-size: 12pt;
	margin: auto;
	display: inline-block;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	text-align: justify;
}