/* RESET */

*{
	text-rendering: geometricPrecision;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

	/* APENAS NO DESKTOP */
	.desktopOnly{
		display: none;
	}
	@media only screen and (min-width: 480px){
		.desktopOnly{
			display: block;
		}
	}



/* MENU - NAVBAR DO BOOTSTRAP */
/* Logo à direita sem margem extra */
.navbar-brand{
	margin-right: 0;
}
.navbar-light .navbar-toggler {
	color: rgba(0,0,0,1);
	border-color: rgba(0,0,0,0);
	padding: 0;
}
.navbar-toggler-icon{ 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#000000' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
/* CARROSSEL DE IMAGENS - CLASSES DO BOOTSTRAP */
.carousel{
	margin: auto -15px;
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev{
	width: 33%;
}

/* TÍTULO */
h1.tituloProduto{
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 32pt;
	margin-top: 10px;
}

h1.tituloProduto span.prefix{
	font-size: 18pt;
}

h1.tituloProduto span.sufix{
	font-weight: lighter;
	font-size: 18pt;
}

/* Texto inicial */
h2.apresentacao{
	font-size: 12pt;
	margin: auto;
	display: inline-block;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #383838;
	text-align: justify;
}

ul li.highlight{
	font-size: 14pt;
	font-weight: bolder;
	color: #383838;
}

ul li.highlight::before{
	content: ':: ';
	display: inline-block;
	color: #bb0045;
	font-weight: bolder;
	margin-right: 5px;
	margin-left: 25px;
}

/* ATRIBUTOS DO PRODUTO */
h4{
	padding-left: initial !important;
	font-size: 12pt;
	font-family: 'Lato', sans-serif;
	color: #737373;
	display: inline-block;
}
.atributo{
	padding: 15px;
}
.cores ul{
	list-style: none;
	display: contents;
}
.cores ul li{
	margin: 2px;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 50%;
}
.cores ul li.selected{
	border: 1px solid #bb0045;
}
.cores ul li img{
	border-radius: 50%;
}
select#tamanho{
	width: 100%;
	margin: 5px auto;
}

input[type=text]{
	width: 100%;
}
small{
	color: #383838;
	font-family: 'Lato', sans-serif;
	font-size: 75%;
	display: block;
}
/*input#arquivoImagem{
	color: #737373;
	width: 100%;
	border: 1px solid #a9a9a9;
}*/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 400;
    color: #383838;
    background-color: #a9a9a9;
    color: #383838;
    display: inline-block;
}
/*.inputfile:focus + label,*/
.inputfile + label:hover {
    background-color: #737373;
    color: #000;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label * {
	pointer-events: none;
}
/*.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}*/
label{
	margin: initial;
	width: 100%;
}
span.uploadSpan{
	background-color: #fff;
	color: #737373;
	min-width: 100%;
}
strong.uploadButton{
	/*background-color: #737373;
	color: #383838;*/
	width: 10vw;
}
h5{
	font-size: 11pt;
    color: #383838;
    margin-bottom: 0;
    margin-top: 5px;
}
input#larguraTapete, input#comprimentoTapete{
	width: 100%;
}
.input50{
	display: inline-block;
	width: 49%;
}
input[type=checkbox], small input[type=checkbox]{
	margin: 5px auto 15px auto;
	font-size: 12pt;
	color: #737373;
	font-family: 'Lato', sans-serif;
}
span.precoOpcional{
	display: inline-block;
	font-size: 12pt;
	color: #868686;
	margin-top: -15px;
	margin-bottom: 5px;
	padding-left: 15px;
}